{:aliases
 {:dev
  {:extra-paths ["development/src"]
   :extra-deps
   {;; components
    poly/log {:local/root "components/log"}
    poly/message-intermediate {:local/root "components/message-intermediate"}

    ;; bases
    poly/message-intermediate-lib {:local/root "bases/message-intermediate-lib"}

    ;; clojure
    org.clojure/clojure {:mvn/version "1.12.5"}
    org.clojure/core.async {:mvn/version "1.9.865"}

    io.github.clojure/tools.build {:git/tag "v0.10.14" :git/sha "1176afd"}
    org.clojure/tools.deps {:mvn/version "0.19.1417"}}}

  :test {:extra-paths []}

  :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
         :extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}}

  :build {:deps
          {io.github.clojure/tools.build {:git/tag "v0.10.14" :git/sha "1176afd"}
           org.clojure/tools.deps {:mvn/version "0.19.1417"}
           slipset/deps-deploy {:mvn/version "RELEASE"}
           org.babashka/http-client {:mvn/version "0.4.22"}}
          :paths ["build/resources"]
          :ns-default build}

  :deploy {:group "org.clojars.cmiles74"
           :licenses [[:licenses
                       [:license
                        [:name "MIT License"]
                        [:url "https://en.wikipedia.org/wiki/MIT_License"]
                        [:distribution "repo"]]]]}}}
