{:top-namespace "com.nervestaple.clinical"
 :interface-ns "interface"
 :dialects #{"clj" "cljs"}
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       :auto-add false}
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}
 :test {:create-test-runner polylith-kaocha.test-runner/create}
 :projects {"development"
            {:alias "dev"}

            "message-intermediate"
            {:alias "intermed"
             :test
             {:polylith-kaocha/config-resource "tests.edn"}}}}
