{:deps
 {poly/log {:local/root "../../components/log"}
  poly/message-intermediate {:local/root "../../components/message-intermediate"}
  poly/message-intermediate-lib {:local/root "../../bases/message-intermediate-lib"}}

 :aliases
 {:test {:extra-paths []
         :extra-deps  {polylith-kaocha/kaocha-wrapper
                       {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                        :git/tag "v0.8.6"
                        :git/sha "7282409"
                        :deps/root "projects/kaocha-wrapper"}}}

  :library {:version "0.15-SNAPSHOT"}
  :uberjar {:main com.nervestaple.clinical.message-intermediate-lib.api}}}
